@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    animation: all 1s ease-in-out;
}

img {
    max-width: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #141822;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

header {
    width: 100%;
}

header nav,
header .pesquisar {
    display: flex;
    justify-content: space-between;
    width: 82%;
    margin: 0 auto;
    padding: 30px 0;
    align-items: center;
}

.logo {
    width: 150px;
    height: 50px;
}

.menu-principal {
    color: #fff;
    display: flex;
    gap: 15px;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}

.acessar {
    color: #fff;
    background-color: #05a9d0;
    padding: 7px 15px;
    border-radius: 25px;
}

#menu-icon-principal {
    display: none;
}

.menu-icon {
    width: 20px;
    height: 20px;
}

.pesquisar .pesquisa a img {
    width: 15px;
    height: 15px;
}

.pesquisar .perfil {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

header .pesquisar {
    padding: 0 1rem;
}

.pesquisa {
    height: 25px;
    width: 40vw;
}

.pesquisar {
    justify-content: space-evenly !important;
}

.pesquisa input {
    height: 100%;
    width: 100%;
    padding: 0 0.4rem;
    border: none;
}

.pesquisar .pesquisa,
.pesquisar .pesquisa a {
    display: flex;
    align-items: center;
}

.pesquisar .pesquisa a {
    height: 100%;
    padding: 0 1rem;
    background-color: #767f8b;
}

/* ------------------------------ */

main {
    width: 100%;
    padding-top: 2rem;
}

main .principal .conteudo-1 {
    display: flex;
    height: auto;
    gap: 2rem;
    padding: 2rem 4rem;

    color: #fff;
}

main .esquerda {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 400px;
    width: 10%;
    text-align: center;
    font-family: "Inter";
}

main .esquerda div h4 {
    font-size: 2rem;
}

main .esquerda div span {
    font-size: 0.8rem;
    color: #888;
}

main .direita {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.3rem;
}

main .direita p {
    margin: 0 3rem;
}

.player {
    display: flex;
    gap: 5px;
    align-items: center;
}

.player span {
    display: flex;
    justify-content: flex-end;
}

.back,
.next {
    width: 25px;
    height: 15px;
    cursor: pointer;
}

.play {
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin: 0 10px;
}

.progresso {
    margin-left: 15px;
    width: 225px;
}

.progresso span {
    font-size: 10px;
    color: #d9d9d9;
}

.progresso input {
    overflow: hidden;
    width: 100%;
    -webkit-appearance: none;
    height: 5px;
    border-radius: 10px;
    background-color: #948b8b;
    cursor: pointer;
}

.progresso input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1px;
    height: 20px;
    background: #05a9d0;
    box-shadow: -400px 0 0 400px #05a9d0;
}

.principal h1 {
    color: #fff;
    text-align: center;
    font-size: 3rem;
    font-family: "Inter";
}

.principal h1 span {
    color: #05a9d0;
}

.player {
    margin: 2rem auto;
    display: flex;
    justify-content: center;
}

.container-artistas {
    margin: 2rem auto;
    position: relative;
}

.container-artistas > h3 {
    width: 100%;
    text-align: left;
    padding: 2px 1rem;
    background-color: #3c3c44;
    color: #05a9d0;
    margin-top: 2rem;
}

.artistas {
    overflow-x: hidden;
    display: flex !important;
    padding: 1rem 0.4rem;
    gap: 1rem;
}

.pointer {
    cursor: pointer;
}

.artista {
    margin-right: 15px;
    flex-shrink: 0 !important;
    width: 250px;
    height: 300px;
    text-align: center;
    color: #fff;

    padding: 1.5rem;
    background: #1f2532;
    box-shadow: 0px 0px 7.51349px rgba(0, 0, 0, 0.8);
    border-radius: 15.027px;

    display: flex !important;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.artista img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 1.5rem;
}

.artistas > a:hover {
    /* opacity: .5; */
    box-shadow: 0px 0px 7.51349px rgba(255, 255, 255, 0.8);
}

.voltar p,
.avancar p {
    background-color: #000;
    height: 300px;
    width: 50px;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.267);
    color: rgba(255, 255, 255, 0.555);
    border-radius: 5px;
}

.voltar,
.avancar {
    position: absolute;
    z-index: 5;
    cursor: pointer;
    bottom: 1rem;
}

.voltar {
    left: 0;
}

.avancar {
    right: 0;
}

.container-depoimentos {
    text-align: center;
    color: #fff;
    font-weight: 300;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: linear-gradient(0deg, #1f2532, #1f2532);
    padding-top: 1rem;
}

.depoimentos {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 0 !important;
    flex-wrap: wrap;
}

.depoimentos img {
    max-width: 100%;
    margin: 0 auto;
}

footer {
    margin-top: 0 !important;
    padding-top: 1rem;
    width: 100%;
    background-color: #1f2532;
    padding-bottom: 5px;
}

footer .navegacao {
    width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

footer .navegacao div {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

footer .navegacao div h5 {
    font-size: 19px;
}

.fim-footer {
    color: #fff;
    text-align: center;

    border-top: 2px solid transparent;
    border-image: linear-gradient(90deg, #0071e3 1.31%, #0bfcfa 100%);
    border-image-slice: 1;
    padding-top: 10px;
}

.fim-footer img {
    width: 100px;
    height: 40px;
    margin-bottom: 10px;
}

.fim-footer span {
    font-size: 15px;
}

.redes {
    width: 150px;
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    padding-top: 10px;
}

.redes img {
    width: 30px;
}

/* responsivo */

@media (max-width: 768px) {
    .depoimentos {
        flex-direction: column;
        align-items: center;
    }

    .navegacao {
        gap: 1rem !important;
    }

    #menu-icon-principal {
        display: initial;
    }

    .direita > img {
        display: none;
    }

    .conteudo-1 {
        padding: 2rem 1rem !important;
    }

    .esquerda {
        margin-left: 5rem !important;
    }

    .player {
        width: 80%;
        margin: 2rem auto;
    }

    .menu-principal {
        position: fixed;
        top: 0;
        right: 0;
        width: 60%;
        height: 100%;
        flex-direction: column;
        background-color: #141822;
        padding: 5rem 0 5rem 3rem;
        gap: 2rem;
        transform: translateX(100%);
        transition: transform 0.6s ease-in;
    }

    .menu-principal li {
        width: 100%;
    }

    .menu-principal.open {
        transform: translateX(0);
        z-index: 9;
    }

    .menu-icon {
        display: inline-block;
        cursor: pointer;
        position: relative;
        z-index: 10;
    }
}

@media (max-width: 500px) {
    .esquerda {
        margin-left: 2rem !important;
    }

    .direita p {
        font-size: 1rem;
        margin: 0 !important;
    }

    .conteudo-1 {
        padding: 2rem 1rem !important;
        text-align: center;
        gap: 4rem !important;
    }

    footer {
        padding-top: 1rem;
    }

    footer .navegacao {
        margin-top: 5rem;
        flex-wrap: wrap;
        gap: 3rem !important;
    }

    footer .navegacao div {
        width: 100%;
        text-align: center;
    }

    .saiba-mais {
        margin-left: -25px;
    }
}
